<!DOCTYPE html><html class="no-js" lang="en"><head>
    <meta charset="utf-8">
    <title>Nest - Multipurpose eCommerce HTML Template</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="images/favicon.svg">
    <!-- Template CSS -->
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <header class="header-area header-style-1 header-height-2">

        <div class="header-middle header-middle-ptb-1 d-none d-lg-block">
            <div class="container">
                <div class="header-wrap">
                    <div class="logo logo-width-1">
                        <a href="#"><img src="images/logo.svg" alt="logo"></a>
                    </div>
                    <div class="header-right">
                        <div class="search-style-2">
                            <form action="#">
                                <select class="select-active">
                                    <option>All Categories</option>
                                    <option>Milks and Dairies</option>
                                    <option>Wines &amp; Alcohol</option>
                                    <option>Clothing &amp; Beauty</option>
                                    <option>Pet Foods &amp; Toy</option>
                                    <option>Fast food</option>
                                    <option>Baking material</option>
                                    <option>Vegetables</option>
                                    <option>Fresh Seafood</option>
                                    <option>Noodles &amp; Rice</option>
                                    <option>Ice cream</option>
                                </select>
                                <input type="text" placeholder="Search for items...">
                            </form>
                        </div>
                        <div class="header-action-right">
                            <div class="header-action-2" id="header-action-23">
                                <div class="search-location">
                                    <form action="#">
                                        <select class="select-active">
                                            <option>Your Location</option>
                                            <option>Alabama</option>
                                            <option>Alaska</option>
                                            <option>Arizona</option>
                                            <option>Delaware</option>
                                            <option>Florida</option>
                                            <option>Georgia</option>
                                            <option>Hawaii</option>
                                            <option>Indiana</option>
                                            <option>Maryland</option>
                                            <option>Nevada</option>
                                            <option>New Jersey</option>
                                            <option>New Mexico</option>
                                            <option>New York</option>
                                        </select>
                                    </form>
                                </div>

                                <div class="header-action-icon-2">
                                    <a href="#">
                                        <img class="svgInject" alt="Nest" src="images/icon-heart.svg">
                                        <span class="pro-count blue">6</span>
                                    </a>
                                    <a href="#"><span class="lable">Wishlist</span></a>
                                </div>
                                <div class="header-action-icon-2">
                                    <a class="mini-cart-icon" href="#">
                                        <img alt="Nest" src="images/icon-cart.svg">
                                        <span class="pro-count blue">2</span>
                                    </a>
                                    <a href="#"><span class="lable">Cart</span></a>
                                    <div class="cart-dropdown-wrap cart-dropdown-hm2">
                                        <ul>
                                            <li>
                                                <div class="shopping-cart-img">
                                                    <a href="#"><img alt="Nest" src="images/thumbnail-3.jpg"></a>
                                                </div>
                                                <div class="shopping-cart-title">
                                                    <h4><a href="#">Daisy Casual Bag</a></h4>
                                                    <h4><span>1 × </span>$800.00</h4>
                                                </div>
                                                <div class="shopping-cart-delete">
                                                    <a href="#"><i class="fi-rs-cross-small"></i></a>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="shopping-cart-img">
                                                    <a href="#"><img alt="Nest" src="images/thumbnail-2.jpg"></a>
                                                </div>
                                                <div class="shopping-cart-title">
                                                    <h4><a href="#">Corduroy Shirts</a></h4>
                                                    <h4><span>1 × </span>$3200.00</h4>
                                                </div>
                                                <div class="shopping-cart-delete">
                                                    <a href="#"><i class="fi-rs-cross-small"></i></a>
                                                </div>
                                            </li>
                                        </ul>
                                        <div class="shopping-cart-footer">
                                            <div class="shopping-cart-total">
                                                <h4>Total <span>$4000.00</span></h4>
                                            </div>
                                            <div class="shopping-cart-button">
                                                <a href="#" class="outline">View cart</a>
                                                <a href="#">Checkout</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="header-action-icon-2 mouse">
                                    <a href="#">
                                        <img class="svgInject" alt="Nest" src="images/icon-user.svg">
                                    </a>
                                    <a href="#"><span class="lable ml-0">Account</span></a>
                                    <div class="cart-dropdown-wrap cart-dropdown-hm2 account-dropdown">
                                        <ul>
                                            <li>
                                                <a href="#"><i class="fi fi-rs-user mr-10"></i>My Account</a>
                                            </li>
                                            <li>
                                                <a href="#"><i class="fi fi-rs-location-alt mr-10"></i>Order
                                                    Tracking</a>
                                            </li>
                                            <li>
                                                <a href="#"><i class="fi fi-rs-label mr-10"></i>My Voucher</a>
                                            </li>
                                            <li>
                                                <a href="#"><i class="fi fi-rs-heart mr-10"></i>My Wishlist</a>
                                            </li>
                                            <li>
                                                <a href="#"><i class="fi fi-rs-settings-sliders mr-10"></i>Setting</a>
                                            </li>
                                            <li>
                                                <a href="#"><i class="fi fi-rs-sign-out mr-10"></i>Sign out</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-bottom header-bottom-bg-color sticky-bar header_bg_red">
            <div class="container">
                <div class="header-wrap header-space-between position-relative">
                    <div class="logo logo-width-1 d-block d-lg-none">
                        <a href="#"><img src="images/logo.svg" alt="logo"></a>
                    </div>
                    <div class="header-nav d-none d-lg-flex">
                        <div class="main-categori-wrap d-none d-lg-block categories-button-active ">
                            <a class="categories-button-active open-div" href="#">
                                <span class="fi-rs-apps"></span> <span class="et">Browse</span> All Categories
                                <i class="fi-rs-angle-down"></i>
                            </a>
                            <div id="myPopup" class="categories-dropdown-wrap categories-dropdown-active-large font-heading popup">
                                <div class="d-flex categori-dropdown-inner">
                                    <ul>
                                        <li>
                                            <a href="#"> <img src="images/category-1.svg" alt="">Milks and Dairies</a>
                                        </li>
                                        <li>
                                            <a href="#"> <img src="images/category-2.svg" alt="">Clothing &amp;
                                                beauty</a>
                                        </li>
                                        <li>
                                            <a href="#"> <img src="images/category-3.svg" alt="">Pet Foods &amp; Toy</a>
                                        </li>
                                        <li>
                                            <a href="#"> <img src="images/category-4.svg" alt="">Baking material</a>
                                        </li>
                                        <li>
                                            <a href="#"> <img src="images/category-5.svg" alt="">Fresh Fruit</a>
                                        </li>
                                    </ul>
                                    <ul class="end">
                                        <li>
                                            <a href="#"> <img src="images/category-6.svg" alt="">Wines &amp; Drinks</a>
                                        </li>
                                        <li>
                                            <a href="#"> <img src="images/category-7.svg" alt="">Fresh Seafood</a>
                                        </li>
                                        <li>
                                            <a href="#"> <img src="images/category-8.svg" alt="">Fast food</a>
                                        </li>
                                        <li>
                                            <a href="#"> <img src="images/category-9.svg" alt="">Vegetables</a>
                                        </li>
                                        <li>
                                            <a href="#"> <img src="images/category-10.svg" alt="">Bread and Juice</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="more_slide_open" style="display: none">
                                    <div class="d-flex categori-dropdown-inner">
                                        <ul>
                                            <li>
                                                <a href="#"> <img src="images/icon-1.svg" alt="">Milks and Dairies</a>
                                            </li>
                                            <li>
                                                <a href="#"> <img src="images/icon-2.svg" alt="">Clothing &amp;
                                                    beauty</a>
                                            </li>
                                        </ul>
                                        <ul class="end">
                                            <li>
                                                <a href="#"> <img src="images/icon-3.svg" alt="">Wines &amp; Drinks</a>
                                            </li>
                                            <li>
                                                <a href="#"> <img src="images/icon-4.svg" alt="">Fresh Seafood</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="more_categories"><span class="icon"></span> <span class="heading-sm-1">Show
                                        more...</span></div>
                            </div>
                        </div>
                        <div class="main-menu main-menu-padding-1 main-menu-lh-2 d-none d-lg-block font-heading">
                            <nav>
                                <ul>
                                    <li>
                                        <a class="active" href="index.html">Ana Səhifə</a>

                                    </li>
                                    <li>
                                        <a href="About Us.html">Haqqında</a>
                                    </li>
                                    <li>
                                        <a href="Shop.html">Məhsullar</a>

                                    </li>


                                    <li>
                                        <a href="Blog.html">Bloq </a>

                                    </li>

                                    <li>
                                        <a href="Contact.html">Əlaqə</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>

                    <div class="header-action-icon-2 d-block d-lg-none">
                        <div class="burger-icon burger-icon-white">
                            <span class="burger-icon-top"></span>
                            <span class="burger-icon-mid"></span>
                            <span class="burger-icon-bottom"></span>
                        </div>
                    </div>
                    <div class="header-action-right d-block d-lg-none">
                        <div class="header-action-2">
                            <div class="header-action-icon-2">
                                <a href="#">
                                    <img alt="Nest" src="images/icon-heart.svg">
                                    <span class="pro-count white">4</span>
                                </a>
                            </div>
                            <div class="header-action-icon-2">
                                <a class="mini-cart-icon" href="#">
                                    <img alt="Nest" src="images/icon-cart.svg">
                                    <span class="pro-count white">2</span>
                                </a>
                                <div class="cart-dropdown-wrap cart-dropdown-hm2">
                                    <ul>
                                        <li>
                                            <div class="shopping-cart-img">
                                                <a href="#"><img alt="Nest" src="images/thumbnail-3.jpg"></a>
                                            </div>
                                            <div class="shopping-cart-title">
                                                <h4><a href="#">Plain Striola Shirts</a></h4>
                                                <h3><span>1 × </span>$800.00</h3>
                                            </div>
                                            <div class="shopping-cart-delete">
                                                <a href="#"><i class="fi-rs-cross-small"></i></a>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="shopping-cart-img">
                                                <a href="#"><img alt="Nest" src="images/thumbnail-4.jpg"></a>
                                            </div>
                                            <div class="shopping-cart-title">
                                                <h4><a href="#">Macbook Pro 2022</a></h4>
                                                <h3><span>1 × </span>$3500.00</h3>
                                            </div>
                                            <div class="shopping-cart-delete">
                                                <a href="#"><i class="fi-rs-cross-small"></i></a>
                                            </div>
                                        </li>
                                    </ul>
                                    <div class="shopping-cart-footer">
                                        <div class="shopping-cart-total">
                                            <h4>Total <span>$383.00</span></h4>
                                        </div>
                                        <div class="shopping-cart-button">
                                            <a href="#">View cart</a>
                                            <a href="#">Checkout</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="header-action-icon-2 mouse">
                                <a href="#">
                                    <img class="svgInject" alt="Nest" src="images/icon-user.svg">
                                </a>
                                <div class="cart-dropdown-wrap cart-dropdown-hm2 account-dropdown">
                                    <ul>
                                        <li>
                                            <a href="#"><i class="fi fi-rs-user mr-10"></i>My Account</a>
                                        </li>
                                        <li>
                                            <a href="#"><i class="fi fi-rs-location-alt mr-10"></i>Order
                                                Tracking</a>
                                        </li>
                                        <li>
                                            <a href="#"><i class="fi fi-rs-label mr-10"></i>My Voucher</a>
                                        </li>
                                        <li>
                                            <a href="#"><i class="fi fi-rs-heart mr-10"></i>My Wishlist</a>
                                        </li>
                                        <li>
                                            <a href="#"><i class="fi fi-rs-settings-sliders mr-10"></i>Setting</a>
                                        </li>
                                        <li>
                                            <a href="#"><i class="fi fi-rs-sign-out mr-10"></i>Sign out</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="mobile-header-active mobile-header-wrapper-style">
        <div class="mobile-header-wrapper-inner">
            <div class="mobile-header-top">
                <div class="mobile-header-logo">
                    <a href="#"><img src="images/logo.svg" alt="logo"></a>
                </div>
                <div class="mobile-menu-close close-style-wrap close-style-position-inherit">
                    <button class="close-style search-close">
                        <i class="icon-top"></i>
                        <i class="icon-bottom"></i>
                    </button>
                </div>
            </div>
            <div class="mobile-header-content-area">
                <div class="mobile-search search-style-3 mobile-header-border">
                    <form action="#">
                        <input type="text" placeholder="Search for items…">
                        <button type="submit"><i class="fi-rs-search"></i></button>
                    </form>
                </div>
                <div class="mobile-menu-wrap mobile-header-border">
                    <!-- mobile menu start -->
                    <nav>
                        <ul class="mobile-menu font-heading">
                            <li class="menu-item-has-children">
                                <a href="#">Ana Səhifə</a>
                            </li>
                            <li class="menu-item-has-children">
                                <a href="#">Haqqında</a>
                            </li>
                            <li class="menu-item-has-children">
                                <a href="#">Məhsullar</a>
                            </li>
                            <li class="menu-item-has-children">
                                <a href="#">Bloq</a>
                            </li>
                            <li class="menu-item-has-children">
                                <a href="#">Əlaqə</a>
                            </li>
                            <li class="menu-item-has-children">
                                <a href="#">Dillər</a>
                                <ul class="dropdown">
                                    <li><a href="#">English</a></li>
                                    <li><a href="#">English</a></li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                    <!-- mobile menu end -->
                </div>
                <div class="mobile-header-info-wrap">
                    <div class="single-mobile-header-info">
                        <a href="#"><i class="fi-rs-marker"></i> Our location </a>
                    </div>
                    <div class="single-mobile-header-info">
                        <a href="#"><i class="fi-rs-user"></i>Log In / Sign Up </a>
                    </div>
                    <div class="single-mobile-header-info">
                        <a href="#"><i class="fi-rs-headphones"></i>(+01) - 2345 - 6789 </a>
                    </div>
                </div>
                <div class="mobile-social-icon mb-50">
                    <h6 class="mb-15">Follow Us</h6>
                    <a href="#"><img src="images/icon-facebook-white.svg" alt=""></a>
                    <a href="#"><img src="images/icon-twitter-white.svg" alt=""></a>
                    <a href="#"><img src="images/icon-instagram-white.svg" alt=""></a>
                    <a href="#"><img src="images/icon-pinterest-white.svg" alt=""></a>
                    <a href="#"><img src="images/icon-youtube-white.svg" alt=""></a>
                </div>
                <div><a class="site-copyright" href="https://vrproduction.az/">© VR Production 2023 Bütün hüquqlar qorunur!</a></div>
            </div>
        </div>
    </div>
    <!--End header-->
    <main class="main">
        <div class="page-header mt-30 mb-50">
            <div class="container">
                <div class="archive-header">
                    <div class="row align-items-center">
                        <h1 style="justify-content: center;display: flex;" class="mb-15">Snack</h1>
                        <div style="justify-content: center;display: flex;">
                            
                            <div class="breadcrumb">
                                <a href="index.html" rel="nofollow"><i class="fi-rs-home mr-5"></i>Home</a>
                                <span></span> Shop <span></span> Snack
                            </div>
                        </div>
                       
                    </div>
                </div>
            </div>
        </div>
        <div class="container mb-30 mt-50">
            <div class="row">
                <div class="col-xl-10 col-lg-12 m-auto">
                    <div class="mb-50">
                        <h1 class="heading-2 mb-10">Your Wishlist</h1>
                        <h6 class="text-body">There are <span class="text-brand">5</span> products in this list</h6>
                    </div>
                    <div class="table-responsive shopping-summery">
                        <table class="table table-wishlist">
                            <thead>
                                <tr class="main-heading">
                                    <th class="custome-checkbox start pl-30">
                                        <input class="form-check-input" type="checkbox" name="checkbox" id="exampleCheckbox11" value="">
                                        <label class="form-check-label" for="exampleCheckbox11"></label>
                                    </th>
                                    <th scope="col" colspan="2">Product</th>
                                    <th scope="col">Price</th>
                                    <th scope="col">Stock Status</th>
                                    <th scope="col">Action</th>
                                    <th scope="col" class="end">Remove</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="pt-30">
                                    <td class="custome-checkbox pl-30">
                                        <input class="form-check-input" type="checkbox" name="checkbox" id="exampleCheckbox1" value="">
                                        <label class="form-check-label" for="exampleCheckbox1"></label>
                                    </td>
                                    <td class="image product-thumbnail pt-40"><img src="images/product-1-1.jpg" alt="#"></td>
                                    <td class="product-des product-name">
                                        <h6><a class="product-name mb-10" href="shop-product-right.html">Field Roast Chao Cheese Creamy Original</a></h6>
                                        <div class="product-rate-cover">
                                            <div class="product-rate d-inline-block">
                                                <div class="product-rating" style="width: 90%"></div>
                                            </div>
                                            <span class="font-small ml-5 text-muted"> (4.0)</span>
                                        </div>
                                    </td>
                                    <td class="price" data-title="Price">
                                        <h3 class="text-brand">$2.51</h3>
                                    </td>
                                    <td class="text-center detail-info" data-title="Stock">
                                        <span class="stock-status in-stock mb-0"> In Stock </span>
                                    </td>
                                    <td class="text-right" data-title="Cart">
                                        <button class="btn btn-sm">Add to cart</button>
                                    </td>
                                    <td class="action text-center" data-title="Remove">
                                        <a href="#" class="text-body"><i class="fi-rs-trash"></i></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="custome-checkbox pl-30">
                                        <input class="form-check-input" type="checkbox" name="checkbox" id="exampleCheckbox2" value="">
                                        <label class="form-check-label" for="exampleCheckbox2"></label>
                                    </td>
                                    <td class="image product-thumbnail"><img src="images/product-2-1.jpg" alt="#"></td>
                                    <td class="product-des product-name">
                                        <h6><a class="product-name mb-10" href="shop-product-right.html">Blue Diamond Almonds Lightly Salted</a></h6>
                                        <div class="product-rate-cover">
                                            <div class="product-rate d-inline-block">
                                                <div class="product-rating" style="width: 90%"></div>
                                            </div>
                                            <span class="font-small ml-5 text-muted"> (4.0)</span>
                                        </div>
                                    </td>
                                    <td class="price" data-title="Price">
                                        <h3 class="text-brand">$3.2</h3>
                                    </td>
                                    <td class="text-center detail-info" data-title="Stock">
                                        <span class="stock-status in-stock mb-0"> In Stock </span>
                                    </td>
                                    <td class="text-right" data-title="Cart">
                                        <button class="btn btn-sm">Add to cart</button>
                                    </td>
                                    <td class="action text-center" data-title="Remove">
                                        <a href="#" class="text-body"><i class="fi-rs-trash"></i></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="custome-checkbox pl-30">
                                        <input class="form-check-input" type="checkbox" name="checkbox" id="exampleCheckbox3" value="">
                                        <label class="form-check-label" for="exampleCheckbox3"></label>
                                    </td>
                                    <td class="image product-thumbnail"><img src="images/product-3-1.jpg" alt="#"></td>
                                    <td class="product-des product-name">
                                        <h6><a class="product-name mb-10" href="shop-product-right.html">Fresh Organic Mustard Leaves Bell Pepper</a></h6>
                                        <div class="product-rate-cover">
                                            <div class="product-rate d-inline-block">
                                                <div class="product-rating" style="width: 90%"></div>
                                            </div>
                                            <span class="font-small ml-5 text-muted"> (4.0)</span>
                                        </div>
                                    </td>
                                    <td class="price" data-title="Price">
                                        <h3 class="text-brand">$2.43</h3>
                                    </td>
                                    <td class="text-center detail-info" data-title="Stock">
                                        <span class="stock-status in-stock mb-0"> In Stock </span>
                                    </td>
                                    <td class="text-right" data-title="Cart">
                                        <button class="btn btn-sm">Add to cart</button>
                                    </td>
                                    <td class="action text-center" data-title="Remove">
                                        <a href="#" class="text-body"><i class="fi-rs-trash"></i></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="custome-checkbox pl-30">
                                        <input class="form-check-input" type="checkbox" name="checkbox" id="exampleCheckbox4" value="">
                                        <label class="form-check-label" for="exampleCheckbox4"></label>
                                    </td>
                                    <td class="image product-thumbnail"><img src="images/product-4-1.jpg" alt="#"></td>
                                    <td class="product-des product-name">
                                        <h6><a class="product-name mb-10" href="shop-product-right.html">Angie’s Boomchickapop Sweet &amp; Salty </a></h6>
                                        <div class="product-rate-cover">
                                            <div class="product-rate d-inline-block">
                                                <div class="product-rating" style="width: 90%"></div>
                                            </div>
                                            <span class="font-small ml-5 text-muted"> (4.0)</span>
                                        </div>
                                    </td>
                                    <td class="price" data-title="Price">
                                        <h3 class="text-brand">$3.21</h3>
                                    </td>
                                    <td class="text-center detail-info" data-title="Stock">
                                        <span class="stock-status out-stock mb-0"> Out Stock </span>
                                    </td>
                                    <td class="text-right" data-title="Cart">
                                        <button class="btn btn-sm btn-secondary">Contact Us</button>
                                    </td>
                                    <td class="action text-center" data-title="Remove">
                                        <a href="#" class="text-body"><i class="fi-rs-trash"></i></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="custome-checkbox pl-30">
                                        <input class="form-check-input" type="checkbox" name="checkbox" id="exampleCheckbox5" value="">
                                        <label class="form-check-label" for="exampleCheckbox5"></label>
                                    </td>
                                    <td class="image product-thumbnail"><img src="images/product-5-1.jpg" alt="#"></td>
                                    <td class="product-des product-name">
                                        <h6><a class="product-name mb-10" href="shop-product-right.html">Foster Farms Takeout Crispy Classic</a></h6>
                                        <div class="product-rate-cover">
                                            <div class="product-rate d-inline-block">
                                                <div class="product-rating" style="width: 90%"></div>
                                            </div>
                                            <span class="font-small ml-5 text-muted"> (4.0)</span>
                                        </div>
                                    </td>
                                    <td class="price" data-title="Price">
                                        <h3 class="text-brand">$3.17</h3>
                                    </td>
                                    <td class="text-center detail-info" data-title="Stock">
                                        <span class="stock-status in-stock mb-0"> In Stock </span>
                                    </td>
                                    <td class="text-right" data-title="Cart">
                                        <button class="btn btn-sm">Add to cart</button>
                                    </td>
                                    <td class="action text-center" data-title="Remove">
                                        <a href="#" class="text-body"><i class="fi-rs-trash"></i></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer class="main footer_desktop">
        <section class="section-padding footer-mid">

            <div class="container pt-15 pb-20 pr-30 pl-30" id="mypadding">
                <div class="row">
                    <div class="logo mb-30 slogan">
                        <a href="index.html" class="mb-15 "><img src="images/logo.svg" alt="logo"></a>
                        <p class="font-lg text-heading">Awesome grocery store website template</p>
                    </div>

                    <div class="footer-link-widget col wow animate__animated animate__fadeInUp">

                        <div class="widget-about font-md mb-md-3 mb-lg-3 mb-xl-0 wow animate__animated animate__fadeInUp"
                            data-wow-delay="0">

                            <div style="justify-content: center;">

                                <iframe class="mapp-my" 
                                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d24313.687103710025!2d49.858787449604726!3d40.38201843056972!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40307d0b5c0c755d%3A0xc0c10a39029757cd!2sDental%20Expert!5e0!3m2!1sen!2saz!4v1697460618706!5m2!1sen!2saz"
                                    width="350" height="200" style="border:0;" allowfullscreen="" loading="lazy"
                                    referrerpolicy="no-referrer-when-downgrade"></iframe>
                            </div>
                        </div>
                    </div>

                    <div class="footer-link-widget col wow animate__animated animate__fadeInUp  " data-wow-delay=".2s">
                        <div class="mycenterclass">
                            <h4 class="widget-title">SOSİAL ŞƏBƏKƏ </h4>
                            <ul class="footer-list mb-sm-5 mb-md-0">
                                <li><a href="#">İnstagram</a></li>
                                <li><a href="#">Facebook</a></li>
                                <li><a href="#">Youtuba</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="footer-link-widget col wow animate__animated animate__fadeInUp " data-wow-delay=".3s">
                        <div class="mycenterclass">
                            <h4 class="widget-title">LİNKLƏR</h4>
                            <ul class="footer-list mb-sm-5 mb-md-0">
                                <li><a href="#">Ana Səhifə</a></li>
                                <li><a href="#">Haqqında</a></li>
                                <li><a href="#">Məhsullar</a></li>
                                <li><a href="#">Blog</a></li>
                                <li><a href="#">Əlaqə</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="footer-link-widget col wow animate__animated animate__fadeInUp" data-wow-delay=".4s">
                        <div class="mycenterclass">
                            <h4 class="widget-title">BİZİMLƏ ƏLAQƏ</h4>
                            <ul class="footer-list mb-sm-5 mb-md-0">
                                <li><a href="#">nomre:</a></li>
                                <li><a href="#">nomre:</a></li>
                                <li><a href="#">email:</a></li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </section>
        <div class="container pb-30 wow animate__animated animate__fadeInUp" data-wow-delay="0">
            <div class="row align-items-center">
                <div class="col-12 mb-30">
                    <div class="footer-bottom"></div>
                </div>
                <div><a href="https://vrproduction.az/">© VR Production 2023 Bütün hüquqlar qorunur!</a></div>
            </div>
        </div>
    </footer>
    <footer class="main footer_mobile">
        <section class="section-padding footer-mid">
            <div class="container pt-15 pb-20">
                <div class="row">
                    <div class="col">
                        <div class="widget-about font-md mb-md-3 mb-lg-3 mb-xl-0 footer_sec_1">
                            <div class="logo mb-30 footer_logo">
                                <a href="#" class="mb-15"><img src="images/logo.svg" alt="logo"></a>
                                <p class="font-lg text-heading">Awesome grocery store website template</p>
                            </div>
                            <iframe class="mapp-my"
                                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d24313.687103710025!2d49.858787449604726!3d40.38201843056972!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40307d0b5c0c755d%3A0xc0c10a39029757cd!2sDental%20Expert!5e0!3m2!1sen!2saz!4v1697460618706!5m2!1sen!2saz"
                                width="350" height="200" style="border:0;" allowfullscreen="" loading="lazy"
                                referrerpolicy="no-referrer-when-downgrade"></iframe>
                        </div>
                    </div>
                    <div class="footer-link-widget col footer_ul_2">
                        <h4 class="widget-title mobile_title_footer">LİNKLƏR</h4>
                        <ul class="footer-list mb-sm-5 mb-md-0 mobile_ul_footer">
                            <li><a href="#">Ana Səhifə</a></li>
                            <li><a href="#">Haqqında</a></li>
                            <li><a href="#">Məhsullar</a></li>
                            <li><a href="#">Blog</a></li>
                            <li><a href="#">Əlaqə</a></li>
                        </ul>
                    </div>
                    <div class="footer-link-widget col footer_ul_2">
                        <h4 class="widget-title ">SOSİAL ŞƏBƏKƏ</h4>
                        <ul class="footer-list mb-sm-5 mb-md-0 ">
                            <li><a href="#">İnstagram</a></li>
                            <li><a href="#">Facebook</a></li>
                            <li><a href="#">Youtuba</a></li>
                        </ul>
                    </div>

                    <div class="footer-link-widget col footer_ul_2">
                        <h4 class="widget-title mobile_title_footer">BİZİMLƏ ƏLAQƏ</h4>
                        <ul class="footer-list mb-sm-5 mb-md-0 mobile_ul_footer">
                            <li><a href="#">nomre:</a></li>
                            <li><a href="#">nomre:</a></li>
                            <li><a href="#">email:</a></li>
                        </ul>
                    </div>

                </div>
            </div>
        </section>
        <div class="container pb-30 wow animate__animated animate__fadeInUp" data-wow-delay="0">
            <div class="row align-items-center">
                <div class="col-12 mb-30">
                    <div class="footer-bottom"></div>
                </div>
                <div><a href="https://vrproduction.az/">© VR Production 2023 Bütün hüquqlar qorunur!</a></div>
            </div>
        </div>
    </footer>

    <!-- Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="text-center">
                    <img src="images/loading.gif" alt="">
                </div>
            </div>
        </div>
    </div>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
        const openDiv = document.querySelector(".open-div");
        const popup = document.querySelector("#myPopup");
    
        openDiv.addEventListener("click", function () {
            popup.style.display = "block";
        });
    
        // Sayfa herhangi bir yere tıklandığında popup'ı kapat
        document.addEventListener("click", function (event) {
            if (event.target !== openDiv && event.target !== popup) {
                popup.style.display = "none";
            }
        });
    });
    </script>
    <!-- Vendor JS-->
    <script data-cfasync="false" src="js/email-decode.min.js"></script><script src="js/modernizr-3.6.0.min.js"></script>
    <script src="js/jquery-3.6.0.min.js"></script>
    <script src="js/jquery-migrate-3.3.0.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/slick.js"></script>
    <script src="js/jquery.syotimer.min.js"></script>
    <script src="js/wow.js"></script>
    <script src="js/perfect-scrollbar.js"></script>
    <script src="js/magnific-popup.js"></script>
    <script src="js/select2.min.js"></script>
    <script src="js/waypoints.js"></script>
    <script src="js/counterup.js"></script>
    <script src="js/jquery.countdown.min.js"></script>
    <script src="js/images-loaded.js"></script>
    <script src="js/isotope.js"></script>
    <script src="js/scrollup.js"></script>
    <script src="js/jquery.vticker-min.js"></script>
    <script src="js/jquery.theia.sticky.js"></script>
    <script src="js/jquery.elevatezoom.js"></script>
    <!-- Template  JS -->
    <script src="js/main.js"></script>
    <script src="js/shop.js"></script>


</body></html>